php_flag magic_quotes_gpc Off
php_value date.timezone "America/New_York"
php_value upload_max_filesize 128K
php_value post_max_size 128K
php_value max_execution_time 10
php_value max_input_time 10
php_value memory_limit 256M

AddType application/vnd.ms-fontobject    .eot
AddType application/x-font-opentype      .otf
AddType image/svg+xml                    .svg
AddType application/x-font-ttf           .ttf
AddType application/font-woff            .woff

#Additonal options:
#DefaultType application/x-httpd-php
#DirectoryIndex index.php
#Options -Indexes
#Options +FollowSymlinks

RewriteEngine On

RewriteRule ^dist - [L]

#Send web requests to the web folder. Note this is to prevent loops.
RewriteRule ^web - [L]
#Don't send JS, CSS, fonts, and image requests to router. NC ignores case.
#RewriteRule ^(.*?)\.(js|css|png|jpeg|jpg|bmp|gif|ttf|woff|eot|svg)$ - [L,NC]

#RewriteRule ^web.*$ - [L]
RewriteRule ^(.*)$ web/$1 [L]
